@font-face {
  font-family: "MajeedFont";
  src: url("/fonts/Al-Qalam-Quran-Majeed.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "QuranFont";
  src: url("/fonts/lpmq.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "QuranFont2";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/PDMS_Saleem_QuranFont.woff") format("woff");
}
@font-face {
  font-family: "Uthman";
  src: url("/fonts/KFGQPC-Uthman-Taha-Naskh-Regular.woff") format("woff");
}
@font-face {
  font-family: "MajeedWeb";
  src: url("/fonts/Al-Qalam-Quran-Majeed-Web-Regular.woff") format("woff");
}
.majeed-web {
  font-family: "MajeedWeb";
}
.uthmani {
  font-family: "Uthman";
}
.arabic {
  font-family: "QuranFont";
}
.arabic-style {
  font-family: "QuranFont2";
}
.majeed {
  font-family: "MajeedFont";
}
.cursor-pointer {
  cursor: pointer;
}
